a { 
    color: #7b513c;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}

a:hover {
    color: #c65855;
}

#logo {
    width: 50px;
}

#header {
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e1c9bf;  
}

#menu {
    display: flex;
    list-style: none;
    gap: 100px;
}

#menu a {
    display: block;
    padding: .5rem;

}

#btn-mobile {
    display: none;
}

body {
    background-color: #ede9e9;
}



@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e1c9bf;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;

    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
        
    }

    #menu a {
        padding: 1rem 1rem;
        margin: 0 ;
        border-bottom: 2px solid rgba(123, 81, 60, .05);
    }

    #btn-mobile {
        display: inline-block;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        display: inline-block;
        border-top: 3px solid;
        color: #7b513c;
        width: 30px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background: currentColor;
        margin-top: 6px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -8px;
    }

    .sobre {
        position: relative;
        height: calc(100vh - 70px);
    }

    .sobre img {
        position: absolute;
        opacity: 0.4;
        height: 100%;
    }

    .jornada {
        position: absolute;
        background-color: #7b513c;
        color:#ede9e9;
        display: flex;
        text-align: center;
    }
    
}